<div class="content trace-page">
  <section id="title-block">
    <div class="container">
      <h2>Trace a contributor</h2>
      <br>
      <span class="tagline-h2">With the trace tool you can find the shortest path (in terms of repositories related users collaborate on) between any two users who collaborate on PHP packages accessible through Packagist and hosted on Github.</span>
      <div class="spacehack-xs visible-xs-block"></div>
    </div>
  </section>
  <section id="app-interface">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="circle-icon circle-icon-trace">
            <div class="icon">&#128363;</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="row hidden-xs">
            <div class="col-sm-4">
              <div class="person-icon">
                <div class="icon">&#128100;</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="arrow-icon">
                <div class="icon">&rarr;</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="person-icon">
                <div class="icon">&#128100;</div>
              </div>
            </div>
          </div>
          <div class="row">
            <form name="traceForm" novalidate >
              <div class="col-sm-4">
                <div class="form-group" show-errors >
                  <label for="user1">Origin user name</label>
                  <input type="text" class="form-control" name="user1" tabindex="1" placeholder="Enter GitHub user name" ng-model="users.user1" ng-required="true" />
                  <p class="help-block" ng-if="traceForm.user1.$error.required && traceForm.user1.$touched">Required</p>
                </div>
              </div>
              <div class="col-sm-4 hidden-xs">
                <button type="button" class="btn btn-success btn-lg btn-block" id="submitForm" tabindex="3" ng-click="trace()" >{{processing && 'Processing...' || 'Start trace'}}</button>
              </div>
              <div class="col-sm-4">
                <div class="form-group" show-errors >
                  <label for="user2">Target user name</label>
                  <input type="text" class="form-control" name="user2" tabindex="2" placeholder="Enter GitHub user name" ng-model="users.user2" ng-disable="processing" ng-required="true" />
                  <p class="help-block" ng-if="traceForm.user2.$error.required && traceForm.user2.$touched">Required</p>
                </div>
              </div>
              <div class="col-sm-4 visible-xs-block">
                <button type="button" class="btn btn-success btn-lg btn-block" id="submitForm" tabindex="3" ng-click="trace()" >{{processing && 'Processing...' || 'Start trace'}}</button>
              </div>
            </form>
          </div>
          <div ng-if="errors.connectiondown" class="row">
            <div class="col-sml-12">
              <div class="alert alert-danger" role="alert">Sorry we couldn't fulfill your request. Please check your internet connection and try again.</div>
            </div>
          </div>
          <div ng-if="errors.invalidusers" class="row">
            <div class="col-sml-12">
              <div class="alert alert-danger" role="alert"><b>No valid path was found.</b> This may be the correct answer, however, if you belive there should be a path please check the origin and target user names entered above.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="row">
            <div class="col-sm-12">
              <div class="content">
                <div class="results" ng-if="paths.length > 0">
                  <div ng-repeat="result in paths" class="results-row" ng-class="{'last':$last}">
                    <span class="number">{{result.order}}</span>
                    <span ng-if="result.type == 'contributor'" class="icon">&#128100;</span>
                    <span ng-if="result.type == 'repository'" class="icon">&#128230;</span>
                    <span class="name">{{result.id}}</span>
                    <span class="link"><a href="{{result.link.href}}">{{result.link.href}}</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
